# -*- mode: gitignore; -*-


## Project
/config.yaml
/work
/data
/sessions

## Mac OS/X
.DS_Store


## Linux
.directory


## Windows
Desktop.ini


## Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*~


## Emacs
\#*\#
.\#*

